<!-- <div class="disabled-example">
    <input
    (change)="handleChangeTime($event)"
    placeholder="Disabled Time Picker" aria-label="disabled time picker" [ngxTimepicker]="disabled" [disabled]="false">
    <ngx-material-timepicker #disabled
    (timeSet)="handleChangeTime($event)"
    [defaultTime]="timepickerTime"
    ></ngx-material-timepicker>
</div>

<input
[(ngModel)]="value"
(change)="changeValue($event)"

/> -->
<!-- <input [ngStyle]="ngControl.control?.touched&&ngControl.control?.errors?{'background-color': 'red'} : {'background-color': ''}"
[(ngModel)]="value"

(change)="handleChange($event)"
/> -->

<app-time-input></app-time-input>
    
